*.txt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
**/.txt filter=lfs diff=lfs merge=lfs -text
**.txt filter=lfs diff=lfs merge=lfs -text
**.png filter=lfs diff=lfs merge=lfs -text
results/StrongSORT_Git/**/*.npy filter=lfs diff=lfs merge=lfs -text
results/StrongSORT_Git/**/*.zip filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
checkpoints/ filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
checkpoints/FastReID/*.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/FastReID/*/*.t7 filter=lfs diff=lfs merge=lfs -text
checkpoints/FastReID/*.yml filter=lfs diff=lfs merge=lfs -text
**.json filter=lfs diff=lfs merge=lfs -text
TrackEval/minimum_requirements.txt filter=lfs diff=lfs merge=lfs -text
TrackEval/requirements.txt filter=lfs diff=lfs merge=lfs -text
results/pedestrian_summary.txt filter=lfs diff=lfs merge=lfs -text
TrackEval/error_log.txt filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
**/*.json filter=lfs diff=lfs merge=lfs -text
assets/comparison.png filter=lfs diff=lfs merge=lfs -text
assets/MOTA-IDF1-HOTA.png filter=lfs diff=lfs merge=lfs -text
**/*.ipynb filter=lfs diff=lfs merge=lfs -text
**/*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
**/*.csv filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
